/*
Primary: #000000 
Secondary: #5271ff
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    user-select: none;
    font-family: Open Sans;
    background-color: lightgoldenrodyellow;
    color: #5271ff;
    padding-left: 300px;
    padding-right: 300px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Navbar styling */

.Navbar {
    margin-top: 20px;
    padding-bottom: 30px;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.Navbar a {
    color: black;
    margin-left: 30px;
    text-decoration: none;
}

.Navbar a:hover {
    /* text-shadow: 0 0 2px #5271ff; */
    padding: 10px;
    font-size: x-large;
    border-radius: 10px;
    color: lightgoldenrodyellow;
    background-color: #5271ff;
    transition: 0.2s;
}

.NavbarLeft {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.NavbarLeftItems {
    margin-top: 50px;
}

.NavbarRight {
    margin-top: 75px;
}

.NavbarRight button {
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 20px;
    color: lightgoldenrodyellow;
    background-color: #5271ff;
    cursor: pointer;
}

.NavbarRight button:hover {
    color: #5271ff;
    background-color: lightgoldenrodyellow;
    cursor: pointer;
    transition: 0.2s;
}

/* Home page styling */

.HomeContentHeading {
    color: #5271ff;
    font-size: xx-large;
}

.HomeContent {
    color: black;
    font-size: x-large;
    font-weight: 600;
}

.ModelButtons {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}

.ModelButton{
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 20px;
    color: lightgoldenrodyellow;
    background-color: #5271ff;
    cursor: pointer;
}

.ModelButton:hover {
    color: #5271ff;
    background-color: lightgoldenrodyellow;
    cursor: pointer;
    transition: 0.2s;
}

.RadioButton {
    width: 20px;
    margin-left: 50px;
}

.RadioButtons {
    font-size: 20px;
    font-weight: 600;
}

/* About page styling */

.About {
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
}

.ProfilePic1, .ProfilePic2 {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 25%;
    margin: 20px auto;
    border: 3px solid #5271ff;
}

.ProfilePic1 {
    background-image: url('media/pratiksha.png');
}

.ProfilePic2 {
    background-image: url('media/sarthak.jpg');
}

.ProfileLinks li {
    list-style-type: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin-top: 5px;
}

.ProfileLinks a {
    text-decoration: none;
}

/* Model styling */

.ModelInputs {
    margin-top: 50px;
    color: black;
    font-size: larger;

    box-sizing: border-box;
    padding: 30px 20px;
    border: 5px solid #5271ff;
    border-radius: 20px;
}

.ModelInput {
    margin-top: 50px;
    border-top: 5px solid #5271ff;
}

.ModelInputs input {
    font-size: large;
    height: 30px;
    border-radius: 5px;
}

.ModelInputsDropdown {
    width: max-content;
    height: 30px;
}

.ModelInputPredictButton {
    margin-top: 50px;
    margin-right: 100px;
    text-align: center;
}

/* Visualization Styling */

.VisualisationsHeading {
    text-align: center;
    font-size: xx-large;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid black;
    margin: 1em 0;
    padding: 0;
}

.VisualizationContentHeading {
    color: black;
    font-size: x-large;
    font-weight: 600;
}

.VisualizationContent {
    color: black;
    font-size: large;
    font-weight: 600;
}

.VisualizationContentSubHeading {
    color: black;
    font-size: larger;
    font-weight: 600;
}

.H1N1_graph1, .H1N1_graph2, .H1N1_graph3, .H1N1_graph4, .H1N1_graph5, .H1N1_graph6, .H1N1_graph7, .H1N1_graph8, .H1N1_graph9, .H1N1_graph10 {
    width: 960px;
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px auto;
}

.H1N1_graph1 {
    background-image: url('media/levels_of_concern.png');
}

.H1N1_graph2 {
    background-image: url('media/opinions.png');
}

.H1N1_graph3 {
    background-image: url('media/h1n1_age_group.png');
}

.H1N1_graph4 {
    background-image: url('media/h1n1_emp_status.png');
}

.H1N1_graph5 {
    background-image: url('media/h1n1_education.png');
}

.H1N1_graph6 {
    background-image: url('media/h1n1_income.png');
}

.H1N1_graph7 {
    background-image: url('media/seasonal_age.png');
}

.H1N1_graph8 {
    background-image: url('media/seasonal_emp_status.png');
}

.H1N1_graph9 {
    background-image: url('media/seasonal_education.png');
}

.H1N1_graph10 {
    background-image: url('media/seasonal_income.png');
}

/* Footer styling */

.Footer {
    border-top: 2px solid black;
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.FooterName {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

.FooterNameP1 {
    color: black;
}

.FooterContent1 {
    padding-right: 50px;
}

.FooterImage {
    background-image: url('media/Vaccine.webp');
    margin-top: 30px;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}